* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #B9D9EB;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    font-size: 10px;
}

.container {
    width: 40%;
    min-width: 50rem;
    max-height: auto;
    padding: 2.8rem;
    background-color: #fff;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.container_heading {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
    font-weight: 700;
}

.container_input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    gap: 0.4rem;
}

.container_input input {
    padding: 1rem;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.container_input button {
    padding: 1rem;
    border: none;
    background-color: #d9534f;
    color: #fff;
    border-radius: 0.25rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.task_filters{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.task_filters button{
    padding: 1rem;
    border: none;
    background-color: #d9534f;
    color:#ffff;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    display: none;
}

.task_filters button:hover{
    background-color: #c9302c;
}

.tasklist{

    /* margin: 1.2rem 0; */
    max-height: 50vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: 1px solid #eee;
    user-select: none;
}

.task label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* .task label input{
    margin-top: 0.4rem;
} */

.task label p {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    user-select: none;
    word-wrap: break-word;
}

.task-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 1rem;
}

.task-actions button {
    background: none;
    border: none;
    color: #d9534f;;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
}

.task input[type="checkbox"] {
    cursor: pointer;
}

.task.completed label p {
    text-decoration: line-through;
    color: gray;
    user-select: none;
    text-align: justify;
}

#clear-btn {
    background-color: #d9534f;
    width: 100%;
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    display: none;
}

#clear-btn:hover {
    background-color: #c9302c;
}